<!doctype html>

<html lang="nl">

	<head>
		<meta charset="utf-8">
		<title>Butsers.nl - Maak er wat van</title>
		<meta name="description" content="Over, op en voor butsers die meuk butsen">
  		<meta name="author" content="Graa">

  		<style type="text/css">{STYLESPACE}</style>
	</head>

	<body>

		<script type="text/javascript">{SCRIPTSPACE}</script>
		
	</body>

</html>
